@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles below */
.color-1 {
  color: #E15050;
}

.color-2 {
  color: #1FABAB;
}

.color-3 {
  color: #ED9454;
}

.color-4 {
  color: #3B6DC8;
}
